<div class="content-wrapper">
    <div style="background-color: white; padding: 10px;">
        <div>
            <h2 style="display: flex; justify-content: space-between; align-items: center;">
                <strong>Cart Detail</strong>
            </h2>
            <h3 style="border-bottom: 1px solid #ccc;"></h3>
        </div>
        <table id="table" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Food</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <%for (let item of data) {%>
                    <td><%=item.food_id%></td>
                    <td><%=item.quantity%></td>
                <% }%>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <a href="/admin/cartManage">Back</a>
    </div>
</div>